*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: bisque;
}
.main{
    display: inline-block;
}
header h1{
    font-size: 2.5rem;
    font-weight: normal;
}
.logo, header h1{
    display: inline-block;
    margin-bottom: 0px;
}
header h2{
    font-size: 1.1cm;
    margin-top: 0px;
    font-weight: normal;
}
nav{
    display: inline-block;
    width: 50%;
    text-align: right;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
nav a{
    font-size: 1.5em;
    color: black;
    padding-bottom: 5px;
    text-decoration: none;
}
.banner-image{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background-image: url(images/images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
    position: relative;
    box-shadow: 0px 4px 4px darkgray;
    margin-bottom: 30px;
}
.banner-des{
    position: absolute;
    bottom: 0px;
    border-radius: 0px 0px 5px 5px;
    width: 98%;
    height: 35px;
    background-color: rgb(24,24,24);
    color: aliceblue;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}
article, aside{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}
article {
    background: bisque;
    padding: 20px;
    width: 65%;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
aside{
    position: relative;
    width: 30%;
    background-color: #333;
    float: right;
    margin: 10px;
    margin-bottom: 20px;
    color: #fff;
}
aside h1{
    text-align: center;
}
aside p{
    text-align: center;
    margin: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
